<div class="panel panel-primary">
  <div class="panel-heading">
    Product List ({{products.length}})
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        Filter by:
      </div>
      <div class="col-md-4">
        <input [(ngModel)]="productFilter" type="text" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Filtered by: {{productFilter}}</h3>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>
              <button (click)="showImage = !showImage" class="btn btn-primary">Show Image</button>
            </th>
            <th>
              Product
            </th>
            <th>
              Code
            </th>
            <th>
              Available
            </th>
            <th>
              Price
            </th>
            <th>
              5 Star Rating
            </th>
            <th>
              Buy Now
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="#product of products | productFilter:productFilter">
            <td>
              <img *ngIf="showImage"
              src="http://placehold.it/80x80" />
            </td>
            <td>
              {{product.title}}
            </td>
            <td>
              {{product.code}}
            </td>
            <td>
              {{product.available >= 1 ? "Yes" : "No"}}
            </td>
            <td>
              {{product.price | currency:'USD':true:'1.2-2'}}
            </td>
            <td>
              <ul>
                <li *ngFor="#rating of product.rating">
                  <i class="fa fa-star"></i>
                </li>
              </ul>
            </td>
            <td>
              <button *ngIf="product.available" class="btn btn-success" (click)="product.available = product.available - 1">Buy Now</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
